[submodule "Supervised Machine Learning - Regression and Classification"]
	path = Supervised Machine Learning - Regression and Classification
	url = https://github.com/Chandrika002/Supervised-Machine-Learning-Regression-and-Classification
